/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 5rem 0;
    background-color: red;
}

header > * {
    /* border: 2px solid black; */
}

h1{
    font-size: 4.5rem;
    font-family: serif;
    text-transform: uppercase;
}

ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul>li{
    padding: 0 1rem;
}


 /* ? hai un parent DIRETTO a cui e' stata applicata la regola display:flex? */
        /* ! SI ===> sono un flex-item */
        /* todo NO ===> NON SONO un flex-item */